:root {
  --colors-labels-vibrant-primary: rgba(26, 26, 26, 1);
  --colors-grays-white: rgba(255, 255, 255, 1);
  --colors-accents-blue: rgba(0, 136, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-labels-vibrant-primary: rgba(26, 26, 26, 1);
  --colors-accents-blue: rgba(0, 136, 255, 1);
}

[data-colors-mode="dark"] {
  --colors-labels-vibrant-primary: rgba(245, 245, 245, 1);
  --colors-accents-blue: rgba(0, 145, 255, 1);
}

[data-colors-mode="IC-light"] {
  --colors-labels-vibrant-primary: rgba(0, 0, 0, 1);
  --colors-accents-blue: rgba(30, 110, 244, 1);
}

[data-colors-mode="IC-dark"] {
  --colors-labels-vibrant-primary: rgba(255, 255, 255, 1);
  --colors-accents-blue: rgba(92, 184, 255, 1);
}
